<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center"
           class="content">
        <div class="blocks">
          <button type="submit" mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
            Add User
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Users</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef> Username</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="first-name">
                  <mat-header-cell *matHeaderCellDef> First Name</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="last-name">
                  <mat-header-cell *matHeaderCellDef> Last Name</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a type="button" (click)="deleteUser(element.id)">
                      <mat-icon class="icon">delete</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
